<div class="welcomePanel">
    <div class="welcomeHeaderTitle">
        <img src="img/logo.png" alt="SillyTavern Logo" class="welcomeHeaderLogo">
        <span class="welcomeHeaderVersionDisplay">{{version}}</span>
    </div>

    <!-- 最近聊天区域 (移到最上面) -->
    <div class="welcomeRecent">
        <div class="welcomeRecentHeader">
            <h3 class="recentChatsTitle" data-i18n="Recent Chats">
                <i class="fa-solid fa-clock-rotate-left"></i>
                最近聊天
            </h3>
            <button class="menu_button menu_button_icon openTemporaryChat" title="开始临时聊天">
                <i class="fa-solid fa-comment-dots"></i>
                <span>临时聊天</span>
            </button>
        </div>
        <div class="recentChatList">
        {{#if empty}}
            <div class="noRecentChat">
                <i class="fa-solid fa-comment-dots"></i>
                <span data-i18n="No recent chats">暂无最近聊天</span>
            </div>
        {{/if}}
        {{#each chats}}
            {{#with this}}
            <div class="recentChat {{#if hidden}}hidden{{/if}} {{#if is_group}}group{{/if}}" data-file="{{chat_name}}" data-avatar="{{avatar}}" data-group="{{group}}">
                <div class="avatar" title="[Character] {{char_name}}&#10;File: {{avatar}}">
                    <img src="{{char_thumbnail}}" alt="{{char_name}}">
                </div>
                <div class="recentChatInfo">
                    <div class="chatNameContainer">
                        <div class="chatName" title="{{file_name}}">
                            <strong class="characterName">{{char_name}}</strong>
                            <span>&ndash;</span>
                            <span>{{chat_name}}</span>
                        </div>
                        <small class="chatDate" title="{{date_long}}">{{date_short}}</small>
                        <div class="chatActions">
                            <button class="menu_button menu_button_icon renameChat" title="Rename chat" data-i18n="[title]Rename chat">
                                <i class="fa-solid fa-pen-to-square fa-fw"></i>
                            </button>
                            <button class="menu_button menu_button_icon deleteChat" title="Delete chat" data-i18n="[title]Delete chat">
                                <i class="fa-solid fa-trash fa-fw"></i>
                            </button>
                        </div>
                    </div>
                    <div class="chatMessageContainer">
                        <div class="chatMessage" title="{{mes}}">
                            {{mes}}
                        </div>
                        <div class="chatStats">
                            <div class="counterBlock">
                                <i class="fa-solid fa-comment fa-xs"></i>
                                <small>{{chat_items}}</small>
                            </div>
                            <small class="fileSize">{{file_size}}</small>
                        </div>
                    </div>
                </div>
            </div>
            {{/with}}
        {{/each}}
        {{#if more}}
            <button class="menu_button menu_button_icon showMoreChats">
                <small class="fa-solid fa-chevron-down fa-fw fa-1x"></small>
            </button>
        {{/if}}
        </div>
    </div>

    <!-- 角色卡展示区域 -->
    <div class="welcomeCharacters">
        <div class="welcomeCharactersHeader">
            <h3 class="welcomeCharactersTitle">
                <i class="fa-solid fa-id-card"></i>
                我的角色卡
            </h3>
            <span class="welcomeCharactersCount">{{characterCount}} 个角色</span>
        </div>
        <div class="welcomeCharactersGrid" id="welcomeCharactersGrid">
            {{#if noCharacters}}
            <div class="noCharacters">
                <i class="fa-solid fa-user-plus"></i>
                <span>暂无角色卡</span>
                <small>从角色管理页面创建或导入角色卡</small>
            </div>
            {{/if}}
            {{#each displayCharacters}}
            <div class="welcomeCharacterCard" data-chid="{{this.index}}" data-avatar="{{this.avatar}}" title="{{this.name}}">
                <div class="welcomeCharacterAvatar">
                    {{#if @first}}
                    <!-- 第一张图片立即加载 -->
                    <img src="{{this.avatarUrl}}" alt="{{this.name}}" class="characterImage" onerror="this.src='/img/default-expressions/neutral.png'; this.onload=function(){this.parentElement.querySelector('.imagePlaceholder').style.display='none';};" onload="this.parentElement.querySelector('.imagePlaceholder').style.display='none';">
                    {{else}}
                    <!-- 其他图片延迟加载 -->
                    <img data-src="{{this.avatarUrl}}" alt="{{this.name}}" class="characterImage lazy-load" src="/img/default-expressions/neutral.png" onerror="this.src='/img/default-expressions/neutral.png';">
                    {{/if}}
                    <div class="imagePlaceholder">
                        <i class="fa-solid fa-image"></i>
                    </div>
                </div>
                <div class="welcomeCharacterName">{{this.name}}</div>
            </div>
            {{/each}}
        </div>
        {{#if hasMorePages}}
        <div class="welcomeCharactersPagination">
            <button class="menu_button characterPagePrev" {{#unless canGoPrev}}disabled{{/unless}}>
                <i class="fa-solid fa-chevron-left"></i>
            </button>
            <span class="characterPageInfo">{{currentPage}} / {{totalPages}}</span>
            <button class="menu_button characterPageNext" {{#unless canGoNext}}disabled{{/unless}}>
                <i class="fa-solid fa-chevron-right"></i>
            </button>
        </div>
        {{/if}}
    </div>

    <!-- 底部快捷按钮 -->
    <div class="welcomeFooterButtons">
        <a class="menu_button menu_button_icon welcomeFooterBtn" href="/welcome">
            <i class="fa-solid fa-house"></i>
            <span>欢迎首页</span>
        </a>
        <a class="menu_button menu_button_icon welcomeFooterBtn" href="/public-characters" id="publicCharactersLink">
            <i class="fa-solid fa-id-card"></i>
            <span>角色卡分享</span>
        </a>
        <a class="menu_button menu_button_icon welcomeFooterBtn" href="/forum" id="forumLink">
            <i class="fa-solid fa-comments"></i>
            <span>交流平台</span>
        </a>
    </div>
</div>
